---
import SidebarItem from "@/components/docs/SidebarItem.astro";
import { docsSidebar as sidebar } from "@/config/docsSidebar";
---

<nav class="docs-sidebar">
  <ul>
    {sidebar.map((item) => (
      <SidebarItem item={item} />
    ))}
  </ul>
</nav>
