<div class="call">
  <div class="call-box-top">
    {% if site.data.contact.email %}
    <div class="call-email"><strong>Stay ahead in our Edge AI tools</strong>
      <!--
      <a href="mailto:{{ .site.data.contact.email }}">
        {{ site.data.contact.email }}
      </a>
      -->
    </div>
    {% endif %}
  </div>
    {% if include.show_button %}
      <div class="call-box-bottom">
        <a href="{{ site.data.contact.contact_button_link }}" class="call-button2">Subscribe Now!</a>
      </div>
    {% endif %}

    <div class="call-box-top">
      <div class="call-email"><strong>Share your learning interests</strong>
      </div>
    </div>
    <div class="call-box-bottom">
        <a href="{{ site.data.contact.contact_button_link }}" class="call-button2">Take the Survey!</a>
    </div>

    <div class="call-box-top">
      <div class="call-email"><strong>Need an Edge AI Specialist</strong>
      </div>
    </div>
    <div class="call-box-bottom">
        <a href="{{ site.data.contact.contact_button_link }}" class="call-button2">Connect Now!</a>
    </div>

</div>
