<div class="call">
  <div class="call-box-top">
    {% if site.data.contact.email %}
    <div class="call-email"><strong>Stay Ahead in our Edge AI Tools</strong>
      <!--
      <a href="mailto:{{ .site.data.contact.email }}">
        {{ site.data.contact.email }}
      </a>
      -->
    </div>
    {% endif %}
  </div>
    {% if include.show_button %}
      <div class="call-box-bottom">
        <a href="mailto:atriva.ai@gmail.com?subject=Subscribe&amp;body=Hello,%20I%20would%20like%20to%20receive%20regular%20updates%20about%20your%20service." class="call-button2">Subscribe Now!</a>
      </div>
    {% endif %}

    <div class="call-box-top">
      <div class="call-email"><strong>Share Your Learning Interests</strong>
      </div>
    </div>
    <div class="call-box-bottom">
        <a href="{{ site.data.contact.contact_button_link }}" class="call-button2">Take the Survey!</a>
    </div>

    <div class="call-box-top">
      <div class="call-email"><strong>Need an Edge AI Specialist</strong>
      </div>
    </div>
    <div class="call-box-bottom">
        <a href="mailto:atriva.ai@gmail.com?subject=Specialist&amp;body=Hello,%20we%20are%20looking%20for%20a%20specialist%20in%20an%20Edge%20AI%20project%20and%20would%20like%20to%20discuss%20your%20service." class="call-button2">Contact Us!</a>
    </div>

</div>
