---
// @ts-ignore
import ReuseIcon from "@/assets/icons/bring-to-front.svg";
import FastIcon from "@/assets/icons/rocket.svg";
import CostIcon from "@/assets/icons/wallet.svg";
import OpenIcon from "@/assets/icons/github.svg";
import DevelopIcon from "@/assets/icons/git-pull-request-arrow.svg";
import HardwareIcon from "@/assets/icons/microchip.svg";

const features = [
  {
    title: "Reusable Architecture",
    description:
      "Build once, deploy anywhere — our modular setup ensures long-term reusability across multiple edge AI projects.",
    icon: ReuseIcon,
  },
  {
    title: "Fast Deployment",
    description:
      "Pre-configured Docker containers let you get AI apps running on edge devices in minutes, not weeks",
    icon: FastIcon,
  },
  {
    title: "Cost Effective",
    description:
      "Save on engineering and cloud costs with optimized hardware integration and efficient workflows.",
    icon: CostIcon,
  },
  {
    title: "Open Source First",
    description:
      "Most of Atriva’s source code is open source — giving developers transparency, flexibility, and the freedom to customize without vendor lock-in.",
    icon: OpenIcon,
  },
  {
    title: "Developer Friendly",
    description:
      "Simple APIs, clear docs, and prebuilt SDKs make it easy to go from prototype to production.",
    icon: DevelopIcon,
  },
  {
    title: "Hardware Agnostic",
    description:
      "Run on any AI accelerator — GPUs, NPUs, SoCs — without being locked into a single vendor.",
    icon: HardwareIcon,
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Why Choose Atriva?
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Six core advantages that make building and scaling Edge AI faster, easier, and more reliable.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        {/* Icon container */}
        <div class="flex-shrink-0">
          <item.icon class="w-10 h-10 text-[#48A18D]" />
        </div>

        {/* Text container */}
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>

