---
import { Picture } from "astro:assets";
import heroImage from "@/assets/hero.svg";
import Link from "@/components/ui/link.astro";
import { Icon } from "astro-icon/components";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 hidden md:block">
    <Picture
      src={heroImage}
      alt="Astronaut in the air"
      widths={[200, 400, 600]}
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
    />
  </div>
  <div>
    <div class="prose prose-lg prose-headings:text-5xl prose-headings:font-bold">
      <h2 class="text-5xl font-bold text-[#48A18D]">Build, Deploy, and Scale Edge AI Faster</h2>
    </div>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      Building Edge AI apps is complicated—requiring hardware tuning, optimization, deployment pipelines, and expertise across multiple domains. Atriva makes it simple. We provide ready-to-use containers, pre-optimized for your hardware, so you can skip the painful integration work. From setup to scaling, we streamline the entire stack—so you can move faster, cut complexity, and focus on creating impactful solutions.
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <!--- remove download button for now 
      <Link
        href="#"
        href="https://web3templates.com/templates/astroship-starter-website-template-for-astro"
        target="_blank"
        class="flex gap-1 items-center justify-center"
        rel="noopener">
        <Icon class="text-white w-5 h-5" name="bx:bxs-cloud-download" />

        Download for Free
      </Link>
      -->
      <Link
        size="lg"
        style="outline"
        rel="noopener"
        href="https://github.com/atriva-ai"
        class="flex gap-1 items-center justify-center bg-[#48A18D] text-black px-5 py-2 rounded-lg hover:bg-[#3b8675]"
        target="_blank">
        <Icon class="text-black w-4 h-4" name="bx:bxl-github" />
        GitHub Repo
      </Link>
    </div>
  </div>
</main>
