---
import { Icon } from "astro-icon/components";

// Logos list (SVGs or PNGs stored in /public/logos)
const logos = [
  { name: "Docker", src: "/images/logos/Docker.png" },
  { name: "Ubuntu", src: "/images/logos/Ubuntu.png" },
  { name: "OpenVINO", src: "/images/logos/openvino.png" },
  { name: "TensorFlow", src: "/images/logos/tensorflow.svg" },
  { name: "ultralytics", src: "/images/logos/ultralytics.svg" },
  { name: "FFMPEG", src: "/images/logos/ffmpeg.svg" },
  { name: "ONNX", src: "/images/logos/ONNX.svg" },
  { name: "NVIDIA", src: "/images/logos/nvidia.png" },
  { name: "Intel", src: "/images/logos/intel.svg" },
  { name: "Rockchip", src: "/images/logos/rockchip.jpg" },
  { name: "MemryX", src: "/images/logos/memryx.png" },
  { name: "Hailo", src: "/images/logos/hailo.png" },
];
---

<section class="relative py-20 md:py-12  bg-slate-50">
    <div class="container max-w-screen-xl mx-auto px-4">
    <div class="mt-16 md:mt-0">

     <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
      Built for Your Tools and Hardware
     </h2>
    <p class="mt-2 text-slate-600">
      Atriva integrates seamlessly with popular frameworks, hardware, and AI runtimes.  
      You bring your stack — we make it work together.
    </p>

    <div
      class="mt-12 grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 gap-8 place-items-center"
    >
      {logos.map((logo) => (
        <div class="flex items-center justify-center h-16 w-28 grayscale hover:grayscale-0 transition">
          <img
            src={logo.src}
            alt={logo.name}
            class="max-h-12 object-contain"
            loading="lazy"
          />
        </div>
      ))}
    </div>
  </div>
  </div>
</section>
